/* ==========================================================================
   Grid settings for Neat
   ========================================================================== */

@import "vendor/neat/neat-helpers";

// Change the grid settings
$visual_grid: false;

// Define your breakpoints
$short: new-breakpoint(max-height em(700) 12);
$micro: new-breakpoint(min-width em(240) max-width em(480) 12);
$small: new-breakpoint(min-width em(600) 12);
$medium: new-breakpoint(min-width em(900) 12);
$large: new-breakpoint(min-width em(1280) 12);


div.notepad-index-post-tags {
    font-size: 12px;
    float: none;
    color: black;
    padding-top: 1.0rem;
    padding-bottom: 0.5rem; }
.notepad-index-post-tags a {
	display: inline-block;
	padding: 0.3125rem 0.9375rem;
	margin-right: 0.1875rem;
	color: black;
	border: 0.0625rem solid black;
	border-radius: 0.125rem;
	margin-bottom: 0.3125rem; }
.notepad-index-post-tags a:hover {
	color: #e51843;
	border: 0.0625rem solid #e51843; }
